
html, body{
    height: 100%;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.wrapper{
    min-height: 100%;
    overflow: hidden;
}

.header{
    background: black;
    margin-bottom: 60px;
}

.container{
    width: 1200px;
    width: 93%;
    margin: 0 auto;
}

.header__container{
display: flex;
justify-content: space-between;
align-items: center;
}


.donwload-cv-link{
    display: flex;
    color: blueviolet;
    font-size: 21px;
    font-weight: bold;
}
.donwload-cv-linc-text{
    margin-left: 9px;
}
.donwload-cv-link:hover{
    text-decoration: none;
}


a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
    }
.username{
    font-size: 36px;
    color: seashell;
}

h1,h2,h3,h4,h5,h6{
    margin:20px;
}


img{
    display: block;
    max-width: 100%;
}

.about{
   margin-bottom: 55px;
    display: flex;
}

.about__left{
    width: 500px;
    margin-right: 45px;
}
.avatar {
    border-radius: 25px;
    overflow: hidden;
}
.avatar__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 22px;
}

.skills__title{
    font-size: 26px;
    margin-bottom: 6px;
}
.sskills__tech-ithem{
    font-size:16px;
    margin-bottom:4px;
}

.skills__tech-ithem{
    padding-left: 20px;
    position: relative;

}

.skills__tech-ithem:before{
    content:"";
    position: absolute;
    display:block;
    width:6px;
    height:6px;
    border-radius:50%;
    background:orange;
    left: 7px;
    top: 9px;
}

.desc__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.desc__item{
    width: calc(100% / 2 - (34px / 2));
    margin-bottom: 47px;

}

.footer{
    background: black;
    padding: 46px;

}

.footer__container{
    display: flex;
    justify-content: space-between;
}
.social{
    display: flex;
}

.social__item{
    margin-right: 10px;
}

.social__item:last-child{
    margin-right: 0;
}

.social__icon{
    display: flex;
    width:38px;
    height:38px;
    align-items: center;
    justify-content: center;
    color: blueviolet;
    margin-right: 10px;
    font-size: 38px;
}
.social__icon:hover{
    text-decoration: none;
    opacity: 0.8;
}
